<h2>TestowyPlugin1Controllerindex</h2>


<table style = "border:none">
<tr>
    <td style = "border:none; font-weight:bold; padding:5px 20px; "><center>id</center></td>
    <td style = "border:none; font-weight:bold; padding:5px 20px; "><center>person</center></td>
    <td style = "border:none; font-weight:bold; padding:5px 20px; "><center>subject</center></td>
    <td style = "border:none; font-weight:bold; padding:5px 20px; "><center>description</center></td>
    <td style = "border:none; font-weight:bold; padding:5px 20px; "><center>severity</center></td>
   
    </tr>
    <tr>
    <td colspan=5><center><hr></center></td>
    
   
    </tr>
<% @allissues.each do |issue|%>
    <% if issue.priority_id ==5 %>
        <% priority = 'immediate' %>
    <% elsif issue.priority_id ==4 %>
        <% priority = 'urgent'%>
    <% elsif issue.priority_id ==3 %>
        <% priority = 'high'%>
    <% elsif issue.priority_id ==2 %>
        <% priority = 'normal'%>
    <% elsif issue.priority_id ==1 %>
        <% priority = 'low' %>
    <% end %>
    
    <% if priority == 'immediate'%>
        <% color = ' color:red; font-weight:bold;'%>
    <% else %>
        <% color = nil %>
    <% end %>
    
    <tr>
    <td style = "border:none; padding:5px 20px; <%= color %>"><center><%= issue.id %></center></td>
    <td style = "border:none; padding:5px 20px; <%= color %>"><center><%= issue.author %></center></td>
    <td style = "border:none; padding:5px 20px; <%= color %>"><center><%= issue.subject %></center></td>
    <td style = "border:none; padding:5px 20px; <%= color %>"><center><%= issue.description%></center></td>
    <td style = "border:none; padding:5px 20px; <%= color %>"><center><%= priority %></center></td>
   
    </tr>
<% end %>
   
</table>